@model IEnumerable<Project_Management.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h4>
                        <p class="card-text">
                            Description: @Html.DisplayFor(modelItem => item.Description)<br />
                            Deadline: @Html.DisplayFor(modelITem => item.Deadline)<br />
                            Starting Date: @Html.DisplayFor(modelITem => item.StartingDate)<br />
                            Status: @Html.DisplayFor(modelItem => item.Status)<br />
                            No. of Issues: @Html.DisplayFor(modelItem => item.Issues.Count)<br />
                        </p>
                        <div class="card-footer alert alert-primary d-flex align-items-center justify-content-between">
                            <a class="alert-link" asp-controller="Projects" asp-action="Details" asp-route-id="@item.ID">View Details</a>
                            <div class="alert alert-primary"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
             </div>
          }
    </div>
 </div>
