@model Project_Management.Models.Project


<div id="addProject" class="modal fade" role="dialog" aria-labelledby="ScrollableTitle">
    <div class="modal-dialog modal-dialog-scrollable" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ScrollableTitle">Project Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">                           
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.StartingDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartingDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Deadline)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Deadline)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    @if (Model.Issues.Count > 0)
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Issues)
                        </dt>
                        <dd class="col-sm-10">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Issue Title</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Issues)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </dd>
                    }

                </dl>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>