@*@model PaginatedList<Project_Management.Models.Project>*@
@model IEnumerable<Project_Management.Models.Project>
@{
    ViewData["Title"] = "Projects";
}

<div id="PlaceHolderHere"></div>
<p>
    <button type="button" class="btn btn-outline-info" data-toggle="ajax-modal" data-target="#addProject" 
            data-url="@Url.Action("Create")">Create New</button>   
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a class="btn btn-outline-info" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                <a class="dataTable-sorter" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <th>
                <a class="dataTable-sorter" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Starting Date</a>
            </th>
            <th>
                Deadline
            </th>
            <th>
                End Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="ajax-modal" data-target="#addProject"
                            data-url="@Url.Action($"Edit/{item.ID}")">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-outline-info" data-toggle="ajax-modal" data-target="#addProject"
                            data-url="@Url.Action($"Details/{item.ID}")">
                        Details
                    </button> |
                    <button type="button" class="btn btn-outline-danger" data-toggle="ajax-modal" data-target="#addProject"
                            data-url="@Url.Action($"Delete/{item.ID}")">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-primary @nextDisabled">
    Next
</a>*@