@model IEnumerable<Project_Management.Models.Issue>

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>
<p>    
    <a class="btn btn-outline-info" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ID)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="ajax-modal" data-target="#addIssue"
                            data-url="@Url.Action($"Edit/{item.ID}")">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-outline-info" data-toggle="ajax-modal" data-target="#addIssue"
                            data-url="@Url.Action($"Details/{item.ID}")">
                        Details
                    </button> |
                    <button type="button" class="btn btn-outline-danger" data-toggle="ajax-modal" data-target="#addIssue"
                            data-url="@Url.Action($"Delete/{item.ID}")">
                        Delete
                    </button>
</tr>
        }
    </tbody>
</table>
